/* .choice{
    border: rgb(219, 219, 216) 2px solid; background-color: white; border-radius: 10px; cursor: pointer;
} */

/* .choice:hover {
    border-color: #353A7B !important;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
} */

/* Effet quand sélectionné, la bordure apparaît autour du label */
/* input[type="radio"]:checked + .gender-img {
    border: none;
}

input[type="radio"]:checked:checked + .gender-img + p {
    border: 3px solid #353A7B;
    border-radius: 10px;
    padding: 5px;
}
     */